#books {
    padding-top: 8rem;
}

.connection {
    padding-top: 8rem;
}

#hello {
    color: rgb(238, 238, 238);
    width: 60%;
}

#message-flash {
    margin-top: 5.5rem;
    text-align: center;
}

.forum-title {
    margin-top: 8rem;
}

#report {
    width: 20%;
}

.connect-card {
    background-color: rgb(209, 209, 209);
    padding: 1rem;
}

.links-color a {
    color: #046ddd;
}

@media screen and (max-width: 500px) {
    #message-flash {
        margin-bottom: -5rem !important;
    }
}

@media screen and (max-width: 768px) {
    #message-flash {
        margin-bottom: -8rem !important;
    }
}

@media screen and (min-width: 768px) {
    #message-flash {
        width: 50%;
    }
}