{% extends "base.html.twig" %}

{% block body %}

<h1 id="forums-title">Forums</h1>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-10">

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">SUJET</th>
                        <th scope="col">AUTHEUR</th>
                        <th scope="col">DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a href="#">Prix nobel de littérature 2019</a></td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a href="#">Prix Goncourt 2019</a></td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a href="#">La littérature contemporaine</a></td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
            <h2>Créer un nouveau forum</h2>
            {{ form_start(new_forum_form) }}
            {{ form_row(new_forum_form.topic, {'label': 'Sujet'}) }}
            <button type="submit" class="btn btn-success">Valider</button>
            {{ form_end(new_forum_form) }}
        </div>
    </div>
</div>

{% endblock %}