{% extends "base.html.twig" %}

{% block title %}
    Mentions légales - webOtek - La grande bibliothèque en ligne
{% endblock %}

{% block description %}
    webOtek - La grande bibliothèque en ligne. Mentions légales
{% endblock %}

{% block body %}

    <div class="forum-title text-center pb-2">
        <h2>Mentions légales</h2>
        <p>Siège social :
            STUDIO VITAMINE l'agence web
            1, rue Fleming
            17000 La Rochelle
            France
            Tél. : 05 46 07 23 16
            contact@studiovitamine.com
            www.studiovitamine.com

            STUDIO VITAMINE est une SARL au capital social de 5 000 euros.
            Numéro de SIRET : 507 498 459 00019
            RCS La Rochelle 507 498 459
            Code NAF : 6202A
            Numéro de TVA : FR 73 507 498 459

            Design / Conception :
            Le site est mis à jour grâce au logiciel Vitamine CMS, outil de gestion de contenu (CMS) commercialisé par la société STUDIO VITAMINE.

            Données personnelles / vie privée :
            En conformité avec les dispositions de la loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez d'un droit d'accès et de rectification portant sur les données vous concernant en écrivant au siège social.

            Hébergement du site Internet :
            Serveur dédié STUDIO VITAMINE, en partenariat avec Magic Online.
            Magic OnLine
            130-134 Avenue du Président Wilson
            93512 Montreuil-sous-Bois Cedex
            Tél. : 0811 058 058

            Référencement :
            Le référencement naturel du site est réalisé par la société STUDIO VITAMINE.
            Collecte des données personnelles
            Nous collectons les renseignements suivants via notre formulaire de demande de devis
            Nom
            Prénom
            Adresse électronique
            Numéro de téléphone
            Société
            Nous collectons les renseignements suivants via notre formulaire d’inscription à notre newsletter :
            Adresse électronique
            Les renseignements personnels que nous collectons sont recueillis au travers de notre formulaire de demande de devis et grâce à l’interactivité établie entre vous et notre site Web.Sans aucune sollicitation de votre part, nous nous engageons à conserver vos données pour une durée maximum de 3 ans.

            Formulaires et interactivité
            Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :
            Formulaire de demande de devis et formulaire d’inscription à notre newsletter
            Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
            Répondre à votre demande de devis
            Vous proposer des offres commerciales
            Vous envoyer des newsletter
            Droit d’opposition et de retrait
            Nous nous engageons à vous offrir un droit d’opposition, de modification ou de retrait de vos données personnelles.Le droit d’opposition s’entend comme étant la possibilité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.Le droit de retrait s’entend comme étant la possibilité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.Afin d’exercer ces droits, vous pouvez nous écrire à cette adresse e-mail : contact@studiovitamine.com ou par courrier postal : Studio Vitamine 1, rue de la Trinquette, 17000 La Rochelle

            Sécurité
            Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :
            Protocole SSL (Secure Sockets Layer)
            Sauvegarde informatique
            Pare-feu (Firewalls)
            Nous nous engageons à maintenir un haut degré de confidentialité permettant d’assurer la confidentialité de vos données. Toutefois, comme aucun mécanisme n’offre une sécurité maximale, une part de risque est toujours présente lorsque l’on utilise Internet pour transmettre des renseignements personnels.

            Législation
            Nous nous engageons à respecter au mieux les dispositions législatives du RGPD</p>
    </div>
{% endblock %}
