{% extends "base.html.twig" %}

{% block title %}
Forum - webOtek - La grande bibliothèque en ligne
{% endblock %}

{% block body %}
<h2 id="forum-title">Sujet de discussion : {{ forum.topic }}</h2>

{% endblock %}